server {
  listen       80 default_server;
  server_name  localhost;

  location / {
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Host $host;
    proxy_set_header X-Rewrite-URL $request_uri;
    proxy_redirect   off;

    proxy_pass       http://{{ .Env.BACKEND_HOST }}:{{ default .Env.BACKEND_PORT "4000" }};
  }

  error_page 500 502 503 504 /50x.html;
  location = /50x.html {
    root /usr/share/nginx/html;
  }
}
